<!DOCTYPE html>
<html>

<head>
    <title>User Form</title>

</head>

<body>

    <div class="box">
        <h1>User Info Form</h1>

        <form action="/submit" method="POST">
            <div class="input-field">
                <label>Name:</label>
                <input type="text" name="name" required>
            </div>

            <div class="input-field">
                <label>Email:</label>
                <input type="email" name="email" required>
            </div>

            <button type="submit">Submit Now</button>

        </form>
    </div>

</body>

</html>